<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ctrip.protoshop"
    android:versionCode="1"
    android:versionName="1.0.3" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.ctrip.protoshop.ProtoshopApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Protoshop" >
        <activity
            android:name="com.ctrip.protoshop.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustUnspecified" >
        </activity>
        <activity
            android:name="com.ctrip.protoshop.SplashActivity"
            android:label="@string/title_activity_splash"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.protoshop.lua.LuaActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.ctrip.protoshop.TestActivity"
            android:label="@string/title_activity_test" >
        </activity>
        <activity
            android:name="com.ctrip.protoshop.LoginActivity"
            android:theme="@style/NoActionBarTheme"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustUnspecified" >
        </activity>
        <activity
            android:name="com.ctrip.protoshop.SignUpActivity"
            android:label="@string/title_activity_sign_up"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ctrip.protoshop.SettingActivity"
            android:label="@string/title_activity_setting"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustUnspecified" >
        </activity>
        <activity
            android:name="com.ctrip.protoshop.ChangePswActivity"
            android:label="@string/title_activity_change_psw"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustUnspecified" >
        </activity>
        <activity
            android:name="com.ctrip.protoshop.DomainActivity"
            android:label="@string/title_activity_domain" >
        </activity>
    </application>

</manifest>